.button {
  padding: 0.75rem 1rem;
  border-radius: var(--radius-500);
  border: none;
  outline: transparent;
  background: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover,
.button:focus {
  background: var(--clr-accent-300);
}

.button:disabled {
  background: var(--clr-accent-200);
  cursor: revert;
}
