.label,
.input {
  display: block;
}

.label {
  color: var(--clr-neutral-900);
  font-weight: 500;
  margin-bottom: 0.5em;
}

.label.required::before {
  content: "*";
  margin-right: 4px;
  color: var(--clr-danger-400);
}

.input {
  width: 100%;
  border: 1px solid var(--clr-shade-400);
  border-radius: var(--radius-500);
  padding: 0.75rem 1.25rem;
  outline: transparent;
  transition: 0.3s;
  outline: 2px solid transparent;
}

.input:hover,
.input:focus {
  border-color: var(--clr-accent-400);
}

.input:focus {
  outline-color: var(--clr-accent-200);
  box-shadow: var(--clr-accent-100) 0px 5px 20px;
}

.error {
  color: var(--clr-danger-400);
}
